<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyn.sequencegeneratebydb.dal.mapper.SequenceMapper">
    <resultMap id="BaseResultMap" type="com.kyn.sequencegeneratebydb.dal.model.SequenceDO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="seq_type" jdbcType="VARCHAR" property="seqType" />
        <result column="seq_day" jdbcType="VARCHAR" property="seqDay" />
        <result column="seq_value" jdbcType="BIGINT" property="seqValue" />
        <result column="describes" jdbcType="VARCHAR" property="describes" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="version" jdbcType="BIGINT" property="version" />
    </resultMap>

    <!--查询结果返回-->
    <sql id="Base_Column_List">
    id as id,
    seq_type as seqType,
    seq_day as seqDay,
    seq_value as seqValue,
    describes as describes,
    create_time as createTime,
    update_time as updateTime,
    version as version
  </sql>

    <!--根据日期获取-->
    <select id="selectByDay" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List"/>
    from sequence
    where seq_type = #{seqType,jdbcType=VARCHAR}
    and seq_day= #{seqDay,jdbcType=VARCHAR}
  </select>

    <!--更新数据库-->
    <update id="updateValByDay" >
        UPDATE
        sequence s
        SET
            s.`seq_value` = #{newSeqValue}
        WHERE
         s.`seq_type` = #{seqType}
        AND s.`seq_day` = #{seqDay}
        AND s.`seq_value` = #{oldSeqValue}
    </update>

    <!--插入数据-->
    <insert id="insertValue">
        insert into sequence
        (
        seq_type ,
        seq_day,
        seq_value ,
        describes ,
        create_time ,
        update_time,
        version
        )
         values
        (
        #{seqType,jdbcType=VARCHAR},
        #{seqDay,jdbcType=VARCHAR},
        #{seqValue,jdbcType=BIGINT},
        #{describes,jdbcType=VARCHAR},
        now(),
        now(),
        #{version,jdbcType=BIGINT}
        )
    </insert>
</mapper>